MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=datong_map
MYSQL_USER=datong
MYSQL_PASSWORD=
REDIS_PASSWORD=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=datong-map
JWT_SECRET=
APP_PRODUCTION=true
AUTH_COOKIE_SECURE=true
FRONTEND_PORT=8012
BACKEND_PORT=8011
MYSQL_PORT=3311
REDIS_PORT=6381
MINIO_API_PORT=9011
MINIO_CONSOLE_PORT=9012
